.homePage {
    background: #f5f5f5;
    min-height: 100vh;
    padding: 16px;
    position: relative;
}

/* Top bar */
.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 28px;
    font-weight: 700;
}

/* Search */
.searchSection {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.searchBox {
    position: relative;
    width: 90%;

    display: flex;
    align-items: center;

    background: #fff;
    border-radius: 10px;
    padding: 10px 12px;
    margin-top: 20px;
    margin-left: 2%;
    border: 1px solid #ddd;
}

.searchIcon {
    margin-right: 8px;
    margin-bottom: -4px;
    color: #888;
}

.searchBox input {
    border: none;
    outline: none;
    flex: 1;
    padding-right: 30px;
}

/* Feed */
.feed {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    background: white;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* Floating button */
.fab {
    position: fixed;
    right: 20px;
    bottom: 20px;

    width: 56px;
    height: 56px;
    border-radius: 50%;

    background: #333;
    color: white;
    font-size: 36px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.empty {
    margin-top: 20px;
    color: #888;
    text-align: center;
}

.productCard {
    background: white;
    border-radius: 16px;
    padding: 14px;
    margin-bottom: 14px;
}

/* top */
.productTop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.productName {
    font-weight: 600;
    color: #000;
    max-width: 70%;
}

/* right */
.rightBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.trend {
    font-size: 16px;
    font-weight: 700;
}

.trend.up {
    color: green;
}

.trend.down {
    color: red;
}

.rating {
    font-size: 14px;
    font-weight: 600;
}

.star {
    color: #f5b301;
}

/* tags */
.tagsRow {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.tag {
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 700;
}

.tag.positive {
    background: #35c800;
    color: #000000;
    font-weight: 600;
}

.tag.negative {
    background: #ed6a0d;
    color: #000000;
    font-weight: 600;
}

.clearBtn {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #888;
}

.clearBtn:hover {
    color: #000;
}

.profileIcon:hover {
    cursor: pointer;
}

.homePage .productCard:hover {
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.profileIcon:hover {
    cursor: pointer;
    color: #000;
}